.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.Sidebar {
  width: 250px;
  /* Adjust as needed */
  flex-shrink: 0;
  /* Prevent Sidebar from shrinking */
  height: 100vh;
  overflow-y: auto;
  /* Scroll if needed */
}

.MainArea {
  flex-grow: 1;
  padding: 16px;
  overflow-x: auto;
  /* Prevents chart from going under Sidebar */
  /* margin-left: 250px;
  Same as Sidebar width */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
